body {
    margin: 0;
}

div {
    background-color: black;
    display: inline-block;
    width: 100%;
}

img {
    background-color: black;
    vertical-align: middle;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.company-name {
    color: white;
    width: 800px;
    font-size: 20px;
}

.urus-background {
    background-image: url(./../Images/urus.jpg);
    color: black;
    height: 600px;
    font-size: 30px;
    text-align: center;
    background-size: cover;
}

.aventador-background {
    background-image: url(./../Images/aventador.jpg);
    color: black;
    height: 600px;
    font-size: 30px;
    text-align: center;
    background-size: cover;
}

.huracan-background {
    background-image: url(./../Images/aventador.jpg);
    color: black;
    height: 600px;
    font-size: 30px;
    text-align: center;
    background-size: cover;
}

.huracan-background-1 {
    background-image: url(./../Images/lamborghini.jpeg);
    color: black;
    background-color: transparent;
    height: 600px;
    font-size: 120%;
    text-align: right;
    background-size: cover;
}
