body {
    margin: 0;
}

div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    background-color: black;
    color: white;
}

.div1 {
    text-align: left;
    width: 55%;
    height: 55%;
}

.div2 {
    text-align: left;
}

.main-logo-image {
    margin-top: 5%;
    color: blue;
}