body {
    margin: 0;
}

/* * {
    outline: 3px solid red;
} */

div {
    background-color: black;
    display: block;
    width: 100%;
}

img {
    background-color: black;
    vertical-align: middle;
    width: 90px;
}

.header {
    padding-top: 20px;
    background-color: black;
    width: 100%;
    height: 80px;
}
 
.company-logo {
    display: inline;
}

.company-name {
    color: white;
    font-size: 25px;
    display: inline;
    width: 80px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    background-color: yellow;
}

.urus-background {
    background-image: url(./../Images/urus.jpg);
    padding-bottom: 40%;
    padding-top: 10%;
    font-size: 20px;
    text-align: center;
    background-size: cover;
    background-position: center center;
}

.container {
    background-color:white;
    font-size: 120%;
    text-align: center;
    padding: 20px 0 100px 0;
    display: inline;
}

.footer {
    box-sizing: border-box;
    background-color:black;
    font-size: 120%;
    text-align: left;
    width: 100%;
    padding: 50px 0 50px 50px;
    color: white;
}

.image-box {
    box-sizing: border-box;
    background-image: url(./Images/huracanEVO.jpeg);
    width: 300px;
    height: 100px;
}

.box-container {
    text-align: center;
    background-color: black;
}

.box-1, .box-2, .box-3 {
    background-color: white;
    margin: 5%;
    width: 300px;
    height: 400px;
    display: inline-block;
    vertical-align: middle;
    font-size: 120%;
}

.box-4, .box-5 {
    padding-top: 40px;
    max-width: 800px;
    height: 200px;
    display: inline-block;
}

.box-4 {
    background-color: yellow;
}

.box-5 {
    background-color: greenyellow;
}