body {
    margin: 0;
}

div {
    background-color: black;
    display: inline-block;
    width: 100%;
    
}

img {
    background-color: black;
    vertical-align: middle;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.company-name {
    color: white;
    width: 450px;
}
